[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "src/gopkg.in/yaml.v3"]
	path = src/gopkg.in/yaml.v3
	url = https://github.com/go-yaml/yaml.git
[submodule "src/github.com/davecgh/go-spew"]
	path = src/github.com/davecgh/go-spew
	url = http://github.com/davecgh/go-spew.git
[submodule "src/github.com/google/uuid"]
	path = src/github.com/google/uuid
	url = http://github.com/google/uuid.git
[submodule "src/github.com/guonaihong/gout"]
	path = src/github.com/guonaihong/gout
	url = http://github.com/guonaihong/gout.git
[submodule "src/github.com/mattn/go-isatty"]
	path = src/github.com/mattn/go-isatty
	url = http://github.com/mattn/go-isatty
[submodule "src/github.com/pmezard/go-difflib"]
	path = src/github.com/pmezard/go-difflib
	url = http://github.com/pmezard/go-difflib
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = http://github.com/stretchr/testify
